* {
  box-sizing: border-box;
}
#root {
  position: relative;
}

body,
html {
  margin: 0;
  padding: 0;
}

.App {
  /* text-align: center;
  min-height: 100vh;
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

button {
  display: block;
}
